* {
	box-sizing: border-box;
}

body {
	width: 90%;
	margin: auto;
	margin-top: 2%;
}

header h2 {
	margin-left: 5%;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

#battleTypeFormDiv {
	margin-top: 2%;
	background-color: lightgrey;
	border-radius: 20px;
	width: 45%;
	padding-top: 2%;
	padding-bottom: 2%;
}

label {
	display: block;
}

#battleTypeForm {
	padding-left: 10%;
}

.battleRadioLabel {
	margin-bottom: 0.7rem;
}

.header img {
	width: 60%;
	border-radius: 20px;
}

.header {
	background-color: #f2f2f2;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 {
	display: inline;
}

h4 {
	margin-top: 2%;
}

.choosePokemonDiv {
	margin-top: 2%;
	background-color: lightgrey;
	border-radius: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 45%;
}

.pokemonChoiceInputs {
	display: flex;
	justify-content: space-around;
}

.pokemonInput p {
	font-weight: bold;
}

.buttonDiv {
	width: 80%;
	margin: auto;
}

.battleDiv {
	margin-top: 2%;
	background-color: lightgrey;
	border-radius: 20px;
	width: 45%;
	padding: 2%;
	padding-left: 4%;
}

.pokemonTurn {
	margin-top: 2%;
}

.battleButton {
	margin-top: 3%;
}

nav a {
	text-decoration: none;
	color: white;
	margin-right: 5%;
}

nav {
	background-color: #5F676F;
	border-radius: 10px;
	margin-top: 1%;
}

#pokedexSearch {
	width: 30%;
	margin-bottom: 1%;
}

#welcomeParagraph {
	width: 85%;
}

#pokedexDisplay {
	display: flex;
	margin-top: 5%;
	margin-bottom: 5%;
}

#pokemonImage {
	width: 20%;
	height: auto;
}

#pokemonInfo {
	width: 33%;
	margin-left: 5%;
}

@media only screen and (max-width: 600px) {
	
	h2 {
		font-size: 1rem;
	}
	
	#pokemonImage {
		width: 75%;
		height: auto;
		margin: auto;
	}
	
	#pokemonInfo {
		margin-top: 10%;
		width: 100%;
	}
	
	#pokedexDisplay {
		flex-wrap: wrap;
	}
	
	#pokedexSearch {
		width: 60%;
	}
	
	.choosePokemonDiv {
		width: 100%;
		margin: 0;
	}
	
	#battleTypeFormDiv {
		width: 100%;
	}
	
	.battleDiv {
		width: 100%;
	}
	
	.main {
		width: 85%;
		margin-bottom: 10%;
	}
	
	#welcomeParagraph {
		width: 100%;
		margin-bottom: 5%;
	}
	
	h4 {
		margin-top: 5%;
	}
	
	header {
		margin-top: 5%;
	}
}